/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}










*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway';
    line-height: 35px;
    width: 100%;
}

/* HOME PAGE 1 PARAGRAPH */
.wrap-1 {
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.wrap-1 p {
    width: 90%;
    font-size: 1.2rem;
    font-weight: 400;
    color: #3c3b3a;

}

/* HOME PAGE H1 */
.wrap-1 h1 {
    font-size: 2.2rem;
    color: #3c3b3a;
    font-weight: 600;
    width: 90%;
    line-height: 2.5rem;
    padding-bottom: 1rem;

}

/* 4 ICONS IN HEADER */
.icons-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem 1.5rem 1rem;
}

/* NAV BAR*/
.navigation {
    background-color: #3c3b3a;

}

/* APPLYING POSITION FOR NAV BAR */
.navigation li {
    display: block;
}

nav a {
    height: 7vh;
    text-decoration: none;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

/* LOGO IN NAV BAR*/
.navigation img {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;

}


/* WRAPPING TWO ICONS  */
.icons-1 .one {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around
}

/* APPLYING SETTINGS FOR EACH  ICON */
.bowling,
.climbing,
.gym,
.basketball {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    color: #26a682;
    text-decoration: none;

}

/* WRAPPING SECOND SET OF ICONS */
.icons-1 .two {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around
}

/* HOMW PAGE H3*/
.wrap-4 h3,
.wrap-6 h3 {
    font-size: 2rem;
    color: #3c3b3a;
    font-weight: 500;
    font-style: italic;
}

/* APPLYING PADDING FOR TWO  SECTIONS IN HOME PAGE*/
.wrap-4,
.wrap-6 {
    padding: 1.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: #3c3b3a;
    background-color: #f2f2f2;


}

/* TOP IMAGE OF GIRL HOME PAGE */
.girl-img img {
    width: 90%;
    height: 30%;
    padding: 2rem 0 1.2rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

/* GET STARTED BUTTON IN HOMW PAGE */
.wrap-3 input[type=submit] {
    background-color: #26a682;
    color: #f2f2f2;
    border: none;
    height: 2.9rem;
    border-radius: 24px;
    width: 90%;
    font-size: 2rem;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.19);

}


/* SCROLL BUTTON*/
.scroll {
    display: none;
}

/* IMAGE BELOW SCROLL BUTTON*/
div.master-1 div.team-image picture img {
    width: 100%;
    height: 100%;
    display: block;
}
div.master-2 div.beer-image picture img {
    width: 100%;
    height: 100%;
}
/* WRAP WITH PRESIDENT IMAGE AND TEXT*/
.wrap-5 {
    background-color: #3c3b3a;
    color: #f2f2f2;
    line-height: 2.5rem;
    padding: 1.6rem;
    font-weight: 200;
}

/* APPLYING FONT SIZE FOR PARAGRAPHS 4 AND 6 */
.wrap-4 p,
.wrap-6 p {
    font-size: 1.1rem;
}

/* FONT SIZE FOR WRAP 5 H2*/
.wrap-5 h2 {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;

}

/* WRAPPED IMAGE OF PRESIDENT AND H2 */
.wrap-5 .presi {
    display: flex;
    flex-direction: column;
}

/* IMAGE OF PRESIDENT DISPLAYED BLOCK */
.wrap-5 .president {
    height: 10rem;
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px;
    border: 7px solid #f2f2f2;
}


/* TWO BUTTONS LEARN MORE */
.learn-more,
.learn-more-2 {
    text-align: end;
}

.learn-more [type=submit] {
    background-color: #26a682;
    color: #f2f2f2;
    border: none;
    height: 2.8rem;
    border-radius: 22px;
    width: 9rem;
    font-size: 1.2rem;
    font-weight: 400;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
   

}


.learn-more-2 [type=self] {
    background-color: #26a682;
    color: #f2f2f2;
    border: none;
    height: 2.8rem;
    border-radius: 22px;
    width: 9rem;
    font-size: 1.2rem;
    font-weight: 400;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

/* FOOTER HEIGHT*/
footer {
    background-color: #3c3b3a;
    color: #f2f2f2;
    height: 9rem;
}

/* PARAGRAPH SETTINGS IN FOOTER */
footer p {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

/* SOCIAL MEDIA ICONS IN FOOTER*/
.icons {
    display: flex;
    justify-content: center;
    padding: 0.2rem 0 0 0;
}

/* PADDING FOR EACH ICON INDIVIDUALLY */
.icons img {
    padding: 0 0.5rem;
}

/* BACK TO TOP ARROW */
.top{
    position: fixed;
    right: 10px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
}

/* APPLYING POSITION FOR NAV BAR */
.arrow p {
    color: #f2f2f2;
    font-size: 0.6rem;
    font-weight: 200;
    text-align: center;
}

.arrow img {
    width: 22px;
    height: 22px;
    justify-content: center;

}

/* ABOUT PAGE */
p+p {
    margin-top: 0.8rem;
}


/* APPLYING PARAMETERS TO ALL THE WRAPPERS IN ABOUT PAGE*/
.box-1,
.box-3,
.content-1,
.content-2,
.content-3,
.content-4 {
    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: #3c3b3a;
}

/* H1 IN FIRST WRAP*/
.box-1 h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #3c3b3a;
    padding-bottom: 0.5rem;

}


/* BACKGROUNG IMAGE IN SECOND WRAP */
.box-2 {
    background-image: url('../images/about-375_x_200.jpg');
    height: 200px;
    width: 100%;
    background-size: cover;
}

/* BACKGROUNG IMAGE IN FOURTH WRAP */
.box-4 {
    background-image: url('../images/services.jpg');
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* H3 IN BOX-3*/
.box-3 h3 {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    padding: 0.5rem 0;

}

/* BACKGROUND COLOR FOR BOX-3*/
.box-3 {
    background-color: #f2f2f2;
}

.box-3 p {
    font-size: 1rem;

}

/* FONT PROPERIES FOR H3 */
.content-1 h3,
.content-2 h3,
.content-3 h3,
.content-4 h3 {

    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;

}

/* BAR IMAGE THAT SHOULD APPEAR IN TABLET NONE DISPLAYED IN MOBILE*/
.bar-img {
    display: none;
}

/* SUBSCRIBE DIV BACKGROUND COLOUR */
.subscribe {
    background-color: #3c3b3a;
    color: #f2f2f2;
    height: 7.5rem;
    text-align: center;
    padding-top: 0.8rem;

}

/* SUBSCRIBE BUTTON IN DIV*/
.subscribe button {
    background-color: #26a682;
    color: #f2f2f2;
    border: none;
    height: 2rem;
    border-radius: 22px;
    width: 9rem;
    text-align: center;

}

/* TEXT IN SUBSCRIBE DIV*/
.subscribe a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #f2f2f2;
}

/* SETTINGS FOR SUBSCRIBE BUTTON */
input.sub [type=submit] {
    background-color: #26a682;
    color: #f2f2f2;
    border: none;
    height: 2.9rem;
    border-radius: 24px;
    width: 90%;
    font-size: 2rem;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

/* BACKGROUNG COLOR FOR  WRAP 2 AND 4 */
.content-2,
.content-4 {
    background-color: #f2f2f2;
}

/* GREEN TEXT  */
.green-1,
.green-2,
.green-3,
.green-4 {
    font-size: 1.5rem;
    color: #26a682;
}

/* WRAP WITH SPONSOR ICONS*/
.icon-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.3rem;
}

/* PADDING FOR EACH SPONSOR IMG  */
.icons-2 img {
    padding-top: 1.8rem;
}

/* H2 IN SPONSOR IMAGES WRAP */

.icons-2 h2 {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 2rem;
    line-height: 4rem;
    text-align: center;
    color: #3c3b3a;
}

/* CONTACT PAGE */


/* HUGE WRAP THAT WRAPPS WHOLE CONTENT EXEPT THE FOOTER AND NAV BAR */
.big-wrap {
    padding: 1.8rem;
}

/* IMAGE OF CONTACT US ICONS */
.contact-icon img {
    width: 18rem;
    height: 12rem;
}

/* CONTACT FORM*/
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 200;
    color: #adabab;
    letter-spacing: 0.5px;
    background-color: #f2f2f2;

}

.drive input[type=submit] {
    background-color: #3c3b3a;
    color: #f2f2f2;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    padding: 4px;
    margin-bottom: 1rem;

}

/* LABELS IS CONTACT FORM*/
.contact label {
    margin: 3px;
    color: #f2f2f2;
    font-weight: 200;
}

/* WRAP FOR CONTACT FORM*/
.contact {
    border-radius: 1rem;
    border: none;
    padding: 20px;
    margin-bottom: 3rem;
    background-color: #26a682;
    font-family: 'Raleway';
}

/* H1 IN CONTACT FORM */
.contact h1 {
    color: #f2f2f2;
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem 0 0.5rem 0;
}

input#name3 {
    background-color: #26a682;
    width: 100%;
    border: none;
    background: #f2f2f2;
    padding: 10px;
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: 200;
    height: 100px;
    border-radius: 13px;
}

/* HEIGHT OF TEXTAREA IN CONTACT FORM */
textarea#message {
    height: 7rem;
}

/* WRAP OF CONTACT INFO */
.small-1 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #3c3b3a;
    padding-bottom: 1rem;
    width: 80%;
    line-height: 3rem;
}

.small-2 h3 {
    font-size: 1.5rem;
    font-weight: 300;
    width: 80%;
    line-height: 1.8rem;
}

.small-2 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: #3c3b3a;
}

.small-2 p {
    line-height: 2.2rem;
    font-size: 1rem;
    font-weight: 200;
    width: 80%;
    padding-top: 0.8rem;
}

/* MAP */
.map iframe {
    width: 100%;
    height: 50vh;



}


@media only screen and (min-width: 768px) {

    /* HOME PAGE */
    .navigation img {
        float: left;
        width: 15%;
    }
/* 4 SMALL ICONS IN HEADER */
    .icons-1 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

    }

    /* NAVIGATION */
    .menu-area {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2rem;
    }

    .menu-area a {
        color: #fff;
        padding: 0 25px;
        font-size: 16px;
        line-height: 30px;
        position: relative;
    }

    .wrap-1 {
        padding: 4rem 4rem 0 4rem;

    }

    .wrap-4,
    .wrap-6 {
        padding: 4rem;
    }

    .bowling,
    .climbing,
    .gym,
    .basketball {
        padding: 20px;
        margin: 20px;
        font-size: 1rem;
        color: #26a682;
        text-decoration: none;
    }

    .scroll p {
        text-align: center;
    }

    .scroll {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 3rem 0 3rem 0;
    
    }

    .scroll img {
        display: flex;
        justify-content: center;
        text-align: center;
        transform: rotate(180deg);
        align-items: center;
        margin: 0;
    }




    .wrap-1 h1 {
        font-size: 4.3rem;
        width: 80%;
        line-height: 5rem;
        padding: 1rem 0 1rem 0;
    }

    .wrap-1 p {
        width: 90%;
        font-size: 1.3rem;

    }

    .wrap-3 input[type=submit] {

        height: 4rem;
        border-radius: 35px;
        width: 19rem;
        font-size: 2.5rem;
    }

    .girl-img img {
        width: 50%;
        height: 20%;
        padding: 2rem 0 1.2rem 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .wrap-4 h3,
    .wrap-6 h3 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .wrap-4 h4,
    .wrap-6 h4 {
        color: #26a682;
    }


    .wrap-5 h2 {
        font-size: 1.4rem;
        font-weight: 500;
        width: 80%;
    }

    .learn-more [type=submit] {
        height: 2.8rem;
        border-radius: 22px;
        width: 14rem;
        font-size: 1.6rem;
    }

    .learn-more-2 [type=self] {
        height: 2.8rem;
        border-radius: 22px;
        width: 14rem;
        font-size: 1.6rem;

    }

    /* PHOTO OF PRESIDENT */
    .wrap-5 {
        padding: 2.5rem;
    }

    .wrap-5 .presi {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .wrap-5 .presi {
        float: left;
        padding-bottom: 8rem;
    } */



    .wrap-5 p {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }


    .wrap-4 h4,
    .wrap-6 h4 {
        font-size: 2rem;
    }


    /* ABOUT PAGE */
    .small-1 h2 {
        font-size: 4.5rem;
        font-weight: 600;
        color: #3c3b3a;
        padding-bottom: 1rem;
        width: 100%;
        line-height: 4.5rem;
    }

    .big-wrap {
        padding: 4rem;
    }

    .content-1 {
        display: grid;
        grid-template-columns: 40% 60%;
    }


    .contact-icon {
        justify-content: center;
        text-align: center;
    }

    .contact-icon img {
        width: 28rem;
        height: 19rem;
    }

    .contact h1 {
        color: #f2f2f2;
        display: block;
        font-size: 4.5rem;
        font-weight: 600;
        padding: 0.5rem 0 2.5rem 0;
    }

    .contact {
        padding: 2.5rem;
        margin-bottom: 3rem;
    }

    .box-2 {
        background-image: url('../images/about-768_x_200.jpg');
        height: 200px;
        width: 100%;
        background-size: cover;
    }

    /* CONTACT PAGE */
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 14px;
        margin: 1rem 0 1rem 0;
        border-radius: 25px;
        font-size: 1.2rem;
        background-color: #f2f2f2;
    }

    .contact label {
        margin: 3px;
        color: #f2f2f2;
        font-weight: 200;
        font-size: 1.5rem;
    }

    .drive input[type=submit] {
        border-radius: 28px;
        width: 40%;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 8px;
        margin-bottom: 1rem;
    }

    .drive {
        display: flex;
        justify-content: flex-end;
    }

    .small-2 h2 {
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 3rem;
        padding: 1.5rem 0 2rem 0;
    }

    .small-2 h3 {
        font-size: 2.3rem;
        line-height: 2.6rem;
        width: 80%;
    }

    .small-2 p {
        line-height: 2.3rem;
        font-size: 1.2rem;
        width: 45%;
    }

    .map iframe {
        width: 100%;
        height: 60vh;
    }

    /* about page */
    .box-1 h1 {
        font-size: 4.3rem;
        width: 80%;
        line-height: 5rem;
    }

    .box-1,
    .box-3,
    .content-1,
    .content-2,
    .content-3,
    .content-4 {
        padding: 4rem;

    }

    .green-1,
    .green-2,
    .green-3,
    .green-4 {
        font-size: 2rem;
        line-height: 2.5rem;
        color: #26a682;
    }

    .wrap-4 h4,
    .wrap-6 h4 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .box-1 p {
        font-size: 1.5rem;
    }

    .construction img {
        width: 100%;
        height: 35%;
    }

    .bar-img {
        display: inline-block;
        height: 100%;
        width: 100%;
    }


    .bow-big,

    .fit-big,
    .climb-big {
        display: none;
    }

    .content-1 {
        margin: 2rem 0 2rem 0;
    }



    .content-2 .bow-small {
        float: right;
        margin: 1rem;
    }

    .fit-small {
        display: inline-block;
    }

    .content-3 .fit-small {
        float: left;
        margin: 1rem;
    }

    .climb-small {
        display: inline-block;
    }

    .content-4 .climb-small {
        float: right;
        margin: 1rem;
    }


    .box-3 h3 {
        font-size: 2.5rem;
    }

    .box-3 p {
        font-size: 1.1rem;
    }

    .content-1 h3,
    .content-2 h3,
    .content-3 h3,
    .content-4 h3 {
        font-size: 2.4rem;
        line-height: 3.5rem;
        font-weight: 600;
    }

    .content-2 {
        margin-bottom: 2rem;
    }

    .subscribe {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    .subscribe button {

        height: 2.6rem;

    }

    .subscribe {
        height: 5rem;
        text-align: center;
        padding: 1.3rem;
    }

    .subscribe p {
        font-size: 1.5rem;
    }

    .icons-2 h2 {
        font-size: 3.5rem;

    }
}

@media only screen and (min-width:1200px) {

    /* HOME PAGE */

    .super-wrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: 1fr;
        padding: 5rem 5rem 0 5rem;
    }

    .wrap-1 {
        padding: 0;
    }

    .super-left {
        grid-column: 1 / span 11;
        grid-row: 1;

    }

    .icons-1 {
        margin: 2rem 0 2rem 0;
        padding: 0;



    }

    .wrap-3 input[type=submit] {

        margin: 0;
    }

    .bowling,
    .climbing,
    .gym,
    .basketball {
        padding: 10px;
        margin: 10px;
    }

    .girl-img img {
        width: 100%;
        height: 100%;

    }


    .girl-img {
        grid-column: 13/ span 20;
        grid-row: 1;

    }

    .navigation img {
        margin: 0;
    }

    .master-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #f2f2f2;
        align-items: center;

    }

    .master-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #f2f2f2;
        align-items: center;
    }
.master-2 .beer-image {
   
        grid-column: 2;
        grid-row: 1;
      }

    .team-image picture img {
        padding-left: 4rem;
    }
    .beer-image picture img {
        padding-right: 4rem;
        
    }

    .wrap-4 {
        padding: 2rem 4rem 2rem 1rem;
    }


    .wrap-5 .presi {
        display: flex;
        flex-direction: row;

    }

    .wrap-5 h2 {
        width: 40%;
    }


    .box-2 {
        background-image: url('../images/about-1920_x_250.jpg');
        height: 250px;
        width: 100%;

    }

    .bow-small {
        display: none;
    }

    .content-2 .bow-big {
        float: right;
        overflow: auto;

    }

    .content-2 {
        margin: 0;
    }

    .bow-big {
        display: inline-block;
    }

    .fit-small {
        display: none;

    }

    .fit-big {
        display: inline-block;
    }

    .content-3 .fit-big {
        float: left;
        padding: 1rem;
    }

    .climb-small {
        display: none;
    }

    .climb-big {
        display: inline-block;
    }

    .content-4 .climb-big {
        float: right;
        padding: 1rem;
    }

    .subscribe {
        justify-content: center;

    }

    .subscribe p {
        padding-right: 1rem;
        font-size: 2.5rem;
    }

    .subscribe button {
        width: 14rem;
    }

    .subscribe a {
        font-size: 1.3rem;
    }

    /* ABOUT PAGE */
    .box-1 h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .box-1 p {
        font-size: 1.3rem;
        width: 90%;
    }

    .box-1 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: 1fr;
        padding: 6rem;
    }

    .main-1 h1 {

        width: 100%;
    }

    .main-1 {
        grid-column: 1 / span 14;
        grid-row: 1;
    }

    .construction {
        grid-column: 14 / span 24;
        grid-row: 1;
    }

    .construction img {
        height: 26rem;
    }
  .bar-img {
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .content-1 {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    .box-3 {
        display: inline-flex;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .name-1,
    .name-2,
    .name-3 {
        padding: 1rem;
        width: 40%;
    }




    .icons-2 {
        justify-content: center;
        padding: 4rem;
    }

    .icon-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    /* CONTACT PAGE */

    /* GRID  */
    .big-wrap-2 {
        display: grid;
        grid-template-columns: 50% 40% ;
        grid-template-rows: 1fr;
        
    }

    /* .small-1 {
        grid-column: 1 / span 11;
        grid-row: 1;
    } */
/* map and contact info grid */
.buttom-content {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

}