/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}






*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway';
    line-height: 35px;
    width: 100%;
}

.active {
    font-weight: bold;
    font-size: 18px;
}

/* HOME PAGE 1 PARAGRAPH */
.wrap-1 {
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.wrap-1 p {
    width: 90%;
    font-size: 1.2rem;
    font-weight: 400;
    color: #3c3b3a;

}

/* HOME PAGE H1 */
.wrap-1 h1 {
    font-size: 2.2rem;
    color: #3c3b3a;
    font-weight: 600;
    width: 90%;
    line-height: 2.5rem;
    padding-bottom: 1rem;

}

/* 4 ICONS IN HEADER */
.icons-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem 1.5rem 1rem;
}

/* NAV BAR*/
.navigation {
    background-color: #3c3b3a;

}

/* APPLYING POSITION FOR NAV BAR */
.navigation li {
    display: block;
}

nav a {
    height: 7vh;
    text-decoration: none;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

/* LOGO IN NAV BAR*/
.navigation img {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;

}


/* WRAPPING TWO ICONS  */
.icons-1 .one {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around
}

/* APPLYING SETTINGS FOR EACH  ICON */
.bowling,
.climbing,
.gym,
.basketball {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    color: #26a682;
    text-decoration: none;

}

/* WRAPPING SECOND SET OF ICONS */
.icons-1 .two {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around
}

/* HOMW PAGE H3*/
.wrap-4 h3,
.wrap-6 h3 {
    font-size: 2rem;
    color: #3c3b3a;
    font-weight: 500;
    font-style: italic;
}

/* APPLYING PADDING FOR TWO  SECTIONS IN HOME PAGE*/
.wrap-4,
.wrap-6 {
    padding: 1.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: #3c3b3a;
    background-color: #f2f2f2;


}

/* TOP IMAGE OF GIRL HOME PAGE */
.rotate-in-2-bck-cw .girl-img img {
    width: 90%;
    height: 30%;
    padding: 2rem 0 1.2rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;



}

/* SOURSE  */
.rotate-in-2-bck-cw {
    -webkit-animation: rotate-in-2-bck-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-in-2-bck-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-3-12 12:57:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-2-bck-cw
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-2-bck-cw {
    0% {
        -webkit-transform: translateZ(900px) rotate(-90deg);
        transform: translateZ(900px) rotate(-90deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) rotate(0);
        transform: translateZ(0) rotate(0);
        opacity: 1;
    }
}

@keyframes rotate-in-2-bck-cw {
    0% {
        -webkit-transform: translateZ(900px) rotate(-90deg);
        transform: translateZ(900px) rotate(-90deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) rotate(0);
        transform: translateZ(0) rotate(0);
        opacity: 1;
    }
}



/* GET STARTED BUTTON IN HOMW PAGE */
.wrap-3 input[type=submit] {
    background-color: #26a682;
    color: #f2f2f2;
    border: none;
    height: 2.9rem;
    border-radius: 24px;
    width: 90%;
    font-size: 2rem;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.19);

}

.wrap-3 input[type=submit]:hover {

    animation: gradient 2.5s infinite 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) forwards;
}

@keyframes gradient {
    0% {
        background: linear-gradient(90deg, #69bba9 0%, #353538 100%)
    }

    10% {
        background: linear-gradient(90deg, #d2ffee 0%, #304d3b 100%)
    }

    20% {
        background: linear-gradient(90deg, rgb(214, 193, 146) 0%, rgb(24, 48, 40) 100%)
    }

    30% {
        background: linear-gradient(90deg, rgb(197, 174, 124) 0%, rgb(140, 223, 224) 100%)
    }

    40% {
        background: linear-gradient(90deg, #88e988 0%, #64ac93 100%)
    }

    50% {
        background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%)
    }

    60% {
        background: linear-gradient(90deg, #8fbd9d 0%, #8febc0 100%)
    }

    70% {
        background: linear-gradient(90deg, rgb(146, 138, 184) 0%, #A8C0FF 100%)
    }

    80% {
        background: linear-gradient(90deg, rgb(95, 114, 104) 0%, rgb(146, 158, 223) 100%)
    }

    90% {
        background: linear-gradient(90deg, #b7c3df 0%, #51648a 100%)
    }

    100% {
        background: linear-gradient(90deg, #425e47 0%, #638563 100%)
    }
}

/* SCROLL BUTTON*/
.scroll {
    display: none;
}

/* IMAGE BELOW SCROLL BUTTON*/
div.master-1 div.team-image picture img {
    width: 100%;
    height: 100%;
    display: block;
}

div.master-2 div.beer-image picture img {
    width: 100%;
    height: 100%;
    display: block;
}

/* WRAP WITH PRESIDENT IMAGE AND TEXT*/
.wrap-5 {
    background-color: #3c3b3a;
    color: #f2f2f2;
    line-height: 2.5rem;
    padding: 1.6rem;
    font-weight: 200;
}

/* APPLYING FONT SIZE FOR PARAGRAPHS 4 AND 6 */
.wrap-4 p,
.wrap-6 p {
    font-size: 1.1rem;
}

/* FONT SIZE FOR WRAP 5 H2*/
.wrap-5 h2 {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;

}

/* WRAPPED IMAGE OF PRESIDENT AND H2 */
.wrap-5 .presi {
    display: flex;
    flex-direction: column;
}

/* IMAGE OF PRESIDENT DISPLAYED BLOCK */
.wrap-5 .president {
    height: 10rem;
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px;
    border: 7px solid #f2f2f2;
}

.learn,
.learn-1 {
    display: flex;
    justify-content: flex-end;

}

/* TWO BUTTONS LEARN MORE */
.btn {
    text-align: center;
}

.btn a {
    text-decoration: none;
    color: #f2f2f2;
}

.btn {


    background-color: #26a682;
    color: #f2f2f2;
    border: none;
    height: 2.8rem;
    border-radius: 22px;
    width: 9rem;
    font-size: 1.2rem;
    font-weight: 400;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.19);

}

.btn:hover {
    transform: scale(1.1);
    background: #3c3b3a;

}



/* FOOTER HEIGHT*/
footer {
    background-color: #3c3b3a;
    color: #f2f2f2;
    height: 9rem;
}

/* PARAGRAPH SETTINGS IN FOOTER */
.social p {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

/* SOCIAL MEDIA ICONS IN FOOTER*/
.icons {
    display: flex;
    justify-content: center;
    padding: 0.2rem 0 0 0;
}

/* PADDING FOR EACH ICON INDIVIDUALLY */
.icons img {
    padding: 0 0.5rem;
}

/* BACK TO TOP ARROW */
.top .arrow {
    position: fixed;
    right: 20px;
    bottom: 20px;


}

/* APPLYING POSITION FOR NAV BAR */
.arrow p {
    color: #f2f2f2;
    font-size: 0.6rem;
    font-weight: 200;
    text-align: center;
    text-decoration: none;

}

.arrow img {
    width: 22px;
    height: 22px;
    justify-content: center;
    transform: rotate(180deg);


}

.arrow a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

/* ABOUT PAGE */
p+p {
    margin-top: 0.8rem;
}


/* APPLYING PARAMETERS TO ALL THE WRAPPERS IN ABOUT PAGE*/
.box-1,
.box-3,
.content-1,
.content-2,
.content-3,
.content-4 {

    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: #3c3b3a;
}

/* H1 IN FIRST WRAP*/
.box-1 h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #3c3b3a;
    padding-bottom: 0.5rem;
}

.slide-in-blurred-left {
    -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-3-12 13:8:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}



/* BACKGROUNG IMAGE IN SECOND WRAP */
.box-2 {
    background-image: url('../images/about copy-475_x_300.jpg');
    height: 200px;
    width: 100%;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #f2f2f2;
}

/* centered text on image */
.box-2 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 600;
}

/* BACKGROUNG IMAGE IN FOURTH WRAP */
.box-4 {
    background-image: url('../images/coffee-375_x_200.jpg');
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #f2f2f2;
}

.box-4 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 600;
}

/* H3 IN BOX-3*/
.box-3 h3 {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    padding: 0.5rem 0;
}

/* BACKGROUND COLOR FOR BOX-3*/
.box-3 {
    background-color: #f2f2f2;
}

.box-3 p {
    font-size: 1rem;

}

.bow-small,
.bow-big,
.fit-small,
.fit-big,
.climb-small,
.climb-big {
    display: none;
}


/* FONT PROPERIES FOR H3 */
.content-1 h3,
.content-2 h3,
.content-3 h3,
.content-4 h3 {

    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;

}

/* BAR IMAGE THAT SHOULD APPEAR IN TABLET NONE DISPLAYED IN MOBILE*/
.bar-small,
.bar-big {
    display: none;
}

/* SUBSCRIBE DIV BACKGROUND COLOUR */
.subscribe {
    background-color: #3c3b3a;
    color: #f2f2f2;
    height: 7.5rem;
    text-align: center;
    padding-top: 0.8rem;

}

/* SUBSCRIBE BUTTON IN DIV*/
.subscribe button {
    background-color: #26a682;
    color: #f2f2f2;
    border: none;
    height: 2rem;
    border-radius: 22px;
    width: 9rem;
    text-align: center;

}

/* TEXT IN SUBSCRIBE DIV*/
.subscribe button h3 {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #f2f2f2;
}

.subscribe button:hover {
    background: #69bba9;
    transform: scale(1.1);

}

.construction {
    display: flex;
    justify-content: center;
}

.construction img {
    width: 18rem;

}

/* SETTINGS FOR SUBSCRIBE BUTTON */
input.sub [type=submit] {
    background-color: #26a682;
    color: #f2f2f2;
    border: none;
    height: 2.9rem;
    border-radius: 24px;
    width: 90%;
    font-size: 2rem;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

/* BACKGROUNG COLOR FOR  WRAP 2 AND 4 */
.content-2,
.content-4 {
    background-color: #f2f2f2;
}

/* GREEN TEXT  */
.green-1,
.green-2,
.green-3,
.green-4 {
    font-size: 1.5rem;
    color: #26a682;
}

/* WRAP WITH SPONSOR ICONS*/
.icon-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.3rem;
}

/* PADDING FOR EACH SPONSOR IMG  */
.icons-2 img {
    padding-top: 1.8rem;
}

.icons a:hover {
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg);
}

/* H2 IN SPONSOR IMAGES WRAP */

.icons-2 h2 {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 2rem;
    line-height: 4rem;
    text-align: center;
    color: #3c3b3a;
}

/* CONTACT PAGE */


/* HUGE WRAP THAT WRAPPS WHOLE CONTENT EXEPT THE FOOTER AND NAV BAR */
.big-wrap {
    padding: 1.8rem;
}

/* IMAGE OF CONTACT US ICONS */
.contact-icon img {
    width: 20rem;
    margin: 0 auto;
}

.contact-icon {
    width: 100%;
    display: flex;
}


/* CONTACT FORM*/
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 200;
    color: #adabab;
    letter-spacing: 0.5px;
    background-color: #f2f2f2;

}

#fname,
#name1,
#name2,
#message {
    padding-left: 1rem;
    font-family: 'Raleway';
}



.submitt input[type=submit] {
    background-color: #3c3b3a;
    color: #f2f2f2;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    padding: 4px;
    margin-bottom: 1rem;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.13);

}

/* LABELS IS CONTACT FORM*/
.contact label {
    margin: 3px;
    color: #f2f2f2;
    font-weight: 200;
}

/* WRAP FOR CONTACT FORM*/
.contact {
    border-radius: 1rem;
    border: none;
    padding: 20px;
    margin-bottom: 3rem;
    background-color: #26a682;
    font-family: 'Raleway';
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

/* H1 IN CONTACT FORM */
.contact h1 {
    color: #f2f2f2;
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem 0 0.5rem 0;
}

input#name3 {
    background-color: #26a682;
    width: 100%;
    border: none;
    background: #f2f2f2;
    padding: 10px;
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: 200;
    height: 100px;
    border-radius: 13px;
}

/* HEIGHT OF TEXTAREA IN CONTACT FORM */
textarea#message {
    height: 7rem;
    font-family: 'Raleway';
}

/* WRAP OF CONTACT INFO */
.small-1 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #3c3b3a;
    padding-bottom: 1rem;
    width: 80%;
    line-height: 3rem;
}

.small-2 h3 {
    font-size: 1.5rem;
    font-weight: 300;
    width: 80%;
    line-height: 1.8rem;
}

/* WRAP OF CONTACT INFO H2 */
.small-2 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: #3c3b3a;
}

.small-2 p {
    line-height: 2.2rem;
    font-size: 1rem;
    font-weight: 200;
    width: 80%;
    padding-top: 0.8rem;
}

/* MAP */
.map iframe {
    width: 100%;
    height: 50vh;



}


@media only screen and (min-width: 768px) {

    /* HOME PAGE */


    /* 4 SMALL ICONS IN HEADER */
    .icons-1 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

    }

    /* NAVIGATION */


    .menu-area a {
        color: #fff;
        padding: 0 25px;
        font-size: 16px;
        line-height: 30px;
        position: relative;
    }

    .navigation nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    /* NAVIGATION wrap */
    .menu-area {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    /* NAVIGATION LOGO */
    .navigation nav img {
        justify-self: start;
        margin: 0;
        margin-left: 80px;
    }

    /* PADDING FOR 1 WRAP */
    .wrap-1 {
        padding: 4rem 4rem 0 4rem;

    }

    /* PADDING FOR 1 WRAP 4-6 */
    .wrap-4,
    .wrap-6 {
        padding: 4rem;
    }

    /* ICONS IN HEADER */
    .bowling,
    .climbing,
    .gym,
    .basketball {
        padding: 20px;
        margin: 20px;
        font-size: 1rem;
        color: #26a682;
        text-decoration: none;
    }

    /* SCROLL DOWN BUTTON PARAGRAPH */
    .scroll p {
        text-align: center;
    }

    /* SCROLL DOWN BUTTON*/
    .scroll {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 3rem 0 3rem 0;
        animation-duration: 5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }


    @keyframes bounceIn {
        0% {
            transform: scale(0.1);
            opacity: 0;
        }

        60% {
            transform: scale(1.2);
            opacity: 1;
        }

        100% {
            transform: scale(1);
        }
    }

    .scroll img {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
        height: 2rem;
    }


    /* HQ IN FIRST WRAP */

    .wrap-1 h1 {
        font-size: 4.3rem;
        width: 80%;
        line-height: 5rem;
        padding: 1rem 0 1rem 0;
    }

    .wrap-1 p {
        width: 90%;
        font-size: 1.3rem;

    }

    /* BUTTON*/
    .wrap-3 input[type=submit] {

        height: 4rem;
        border-radius: 35px;
        width: 19rem;
        font-size: 2.5rem;
    }


    /* learn more buttons */
    .btn {

        height: 2.8rem;
        width: 14rem;
        font-size: 1.6rem;
        font-weight: 600;

    }

    /* IMAGE OF GIRL */
    .rotate-in-2-bck-cw .girl-img img {
        width: 50%;
        height: 20%;
        padding: 2rem 0 1.2rem 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* FONTS OF H3  */
    .wrap-4 h3,
    .wrap-6 h3 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .wrap-4 h4,
    .wrap-6 h4 {
        color: #26a682;
    }

    /* WIDTH OF H2 IN WRAP 5 */
    .wrap-5 h2 {
        font-size: 1.3rem;
        font-weight: 500;

    }
    
    /* LEARN MORE BUTTON 1 */
    .learn-more [type=submit] {
        height: 2.8rem;
        border-radius: 22px;
        width: 14rem;
        font-size: 1.6rem;
    }

    /* LEARN MORE BUTTON 2 */
    .learn-more-2 [type=self] {
        height: 2.8rem;
        border-radius: 22px;
        width: 14rem;
        font-size: 1.6rem;

    }

    /* PHOTO OF PRESIDENT */
    .wrap-5 {
        padding: 2.5rem;
    }

    /* FLEXBOX FOR WRAP 5*/

    .wrap-5 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;

    }

    /* FLEXBOX FOR PRESIDENT IMAGE IND TEXT */
    .wrap-5 .presi {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
    }


    /* WRAP 5 TEXT */

    .wrap-5 p {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin: 2rem;

    }


    .wrap-4 h4,
    .wrap-6 h4 {
        font-size: 2rem;
    }


    /* ABOUT PAGE */
    .small-1 h2 {
        font-size: 4.5rem;
        font-weight: 600;
        color: #3c3b3a;
        padding-bottom: 1rem;
        width: 100%;
        line-height: 4.5rem;
    }

    /* PADDING FOR MAIN WRAP */
    .big-wrap {
        padding: 4rem;
    }

    /* FIRST WRAP */
    .content-1 {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
    }

    /* SECOND WRAP */
    .content-2 {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
    }

    .content-3 {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
    }

    .content-4 {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
    }

    /* RIGHT CONTENT IN CONTENT 1 WRAP*/
    .right-content {
        grid-column: 1;
    }

    /* VERTICAL IMAGES FOR TABLET */
    .bow-small {
        grid-column: 2;
        grid-row: 1;
    }

    .climb-small {
        grid-column: 2;
        grid-row: 1;
        margin-left: 1rem;
    }

    .contact-icon {
        justify-content: center;
        text-align: center;
    }

    .contact-icon img {
        width: 28rem;

    }

    .bar-big {
        display: none;
    }

    .bar-small {
        display: block;
    }

    .bar-big img {
        width: 100%;
    }

    .contact h1 {
        color: #f2f2f2;
        display: block;
        font-size: 4.5rem;
        font-weight: 600;
        padding: 0.5rem 0 2.5rem 0;
    }

    .contact {
        padding: 2.5rem;
        margin: 5rem;
    }

    .box-2 {
        background-image: url('../images/about-768_x_200.jpg');
        height: 200px;
        width: 100%;
        background-size: cover;
    }

    .box-4 {
        background-image: url('../images/coffee-768_x_200.jpg');
        height: 200px;
        width: 100%;
        background-size: cover;
    }

    /* CONTACT PAGE */
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 14px;
        margin: 1rem 0 1rem 0;
        border-radius: 25px;
        font-size: 1.2rem;
        background-color: #f2f2f2;
    }

    /* CONTACT PAGE */
    .contact label {
        margin: 3px;
        color: #f2f2f2;
        font-weight: 200;

    }

    .submitt input[type=submit] {
        border-radius: 28px;
        width: 40%;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 8px;
        margin-bottom: 1rem;
        height: 4rem;
    }

    /* SUBMIT BUTTON IN CONTACT FORM */
    .submitt {
        display: flex;
        justify-content: flex-end;
    }

    .small-2 h2 {
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 3rem;
        padding: 1.5rem 0 2rem 0;
    }

    .small-2 h3 {
        font-size: 2.3rem;
        line-height: 2.6rem;
        width: 80%;
    }

    /* WRAP OF CONTACT INFO  H2*/
    .small-2 p {
        line-height: 2.3rem;
        font-size: 1.2rem;
        width: 45%;
        margin-bottom: 2rem;
    }

    .map iframe {
        width: 100%;
        height: 60vh;
    }

    /* about page */
    .box-1 h1 {
        font-size: 4.3rem;
        width: 80%;
        line-height: 5rem;
    }

    .box-1,
    .box-3,
    .content-1,
    .content-2,
    .content-3,
    .content-4 {
        padding: 4rem;

    }

    /* GREEN TEXT  IN ABOUT PAGE */
    .green-1,
    .green-2,
    .green-3,
    .green-4 {
        font-size: 2rem;
        line-height: 2.5rem;
        color: #26a682;
    }

    /* FONT SETTIGNS FOR WRAPS 4 AND 6 ABOUT PAGE*/
    .wrap-4 h4,
    .wrap-6 h4 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .box-1 p {
        font-size: 1.5rem;
    }

    /*  IMAGE OF CONSTRUCTION*/
    .construction img {
        width: 35rem;

    }

    /* DISPLAYING  VERTICAL IMAGE OF BAR  IN TABLET  */
    .bar-img {
        display: block;
        height: 100%;
        width: 100%;
    }

    /*DISPLAYING  VERTICAL IMAGE OF BOWLING  IN TABLET  */

    .bow-small {
        display: block;
        width: 100%;
        margin-left: 2rem;
    }

    /*DISPLAYING  VERTICAL IMAGE OF BOWLING  IN TABLET  */
    .bow-big,
    .fit-big,
    .climb-big {
        display: none;
    }

    /* CONTENT IS THE WRAPPER THAT WRAPS BAR IMAGE AND TEXT */
    .content-1 {
        margin: 2rem 0 2rem 0;
    }


    /*DISPLAYING  VERTICAL IMAGE OF FITNESS IN TABLET  */
    .fit-small {
        display: block;
        width: 100%;
    }

    /*DISPLAYING  VERTICAL IMAGE OF CLIMBING  IN TABLET  */
    .climb-small {
        display: block;

    }




    .box-3 h3 {
        font-size: 2.5rem;
    }

    .box-3 p {
        font-size: 1.1rem;
    }

    /*CHANGINF FONT PROPERTIES OF H3 WHOLE PAGE  */
    .content-1 h3,
    .content-2 h3,
    .content-3 h3,
    .content-4 h3 {
        font-size: 2.4rem;
        line-height: 3.5rem;
        font-weight: 600;
    }

    /*  WRAP THAT INCLUDES SUBSCRIBE BUTTON BETWEEN CONTENT 1 AND 2 */
    .subscribe {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 5rem;
        text-align: center;
        padding: 1.3rem;

    }

    .subscribe button {
        height: 2.6rem;
    }

    /* TEXT SIZE IN SUBSCRIBE BUTTON WRAP */
    .subscribe p {
        font-size: 1.5rem;
    }

    /*  INCREASING FONT OF H2 ABOVE SPONSORS IMAGES*/
    .icons-2 h2 {
        font-size: 3.5rem;
    }
}

@media only screen and (min-width:1200px) {

    /* HOME PAGE */

    .super-wrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: 1fr;
        padding: 5rem 5rem 0 5rem;
    }

    /*FIRST WRAP  */
    .wrap-1 {
        padding: 0;
    }

    /* LEFT CONTENT OF GRID IN THE BANNER */
    .super-left {
        grid-column: 1 / span 11;
        grid-row: 1;

    }

    /*  4 ICONS IN BANNER */
    .icons-1 {
        margin: 2rem 0 2rem 0;
        padding: 0;

    }

    /* MARGIN 0 FOR SUBMIT BUTTON IN BANNER  */
    .wrap-3 input[type=submit] {
        margin: 0;
    }

    /* APPLYING PADDING MARGIN TO 4 ICONS IN BANNER */
    .bowling,
    .climbing,
    .gym,
    .basketball {
        padding: 10px;
        margin: 10px;
    }

    /*ANIMATION FOR GIRL IMAGE  */
    .rotate-in-2-bck-cw .girl-img img {
        width: 100%;
        height: 100%;

    }

    /* PLACING IMAGE OF THE GIRL IN RIGHT SIDE OF THE GRID */
    .rotate-in-2-bck-cw {
        grid-column: 13/ span 20;
        grid-row: 1;

    }

    /* SCROLL DOWN BUTTON */
    .scroll img {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
        height: 3rem;
    }

    /* LOGO  */
    .navigation img {
        margin: 0;
        display: inline;
        margin-top: 20px;
    }

    /* NAV BAR APPLYING MARGIN */
    .menu-area {
        margin-right: 50px;
    }

    /*  GRID FOR 1 MAIN WRAP */
    .master-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #f2f2f2;
        align-items: center;

    }

    /*  GRID FOR 2 MAIN WRAP */
    .master-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #f2f2f2;
        align-items: center;
    }

    /*  SWITCHING ORDER OF CONTENT */
    .master-2 .beer-image {
        grid-column: 2;
        grid-row: 1;
    }

    /*PADDING FOR TEAM IMAGE */

    .team-image picture img {
        padding-left: 4rem;
    }

    /*PADDING FOR BEER IMAGE */
    .beer-image picture img {
        padding-right: 4rem;

    }

    .wrap-4 {
        padding: 2rem 4rem 2rem 1rem;
    }

    /*PADDING FOR TEAM IMAGE */
    /* WRAP OF PRESIDENT AND TEXT  */
    .wrap-5 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* IMAGE OF PRESIDENT */
    .wrap-5 .presi {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        grid-column-gap: 3rem;
    }

    /*ADDING MARGIN FOR WRAP THAT INCLUDES IMAGE OF PRESIDENT AND H2 */
    .wrap-5 .president {
        margin: 2rem;
    }

    /* GIVING MARGIN FOR PARAGRAPH IN WHAR 5 */
    .wrap-5 p {
        margin: auto 0 auto 7rem;
    }

    /* CHANGING FLEX DIRECTION TO COLUMN */
    .wrap-5 h2 {
        display: flex;
        flex-direction: column;
    }

    /*ADDING BACKGROUNG IMAGE FOR DEKSTOP*/

    .box-2 {
        background-image: url('../images/about-1920_x_250.jpg');
        height: 250px;
        width: 100%;


    }

    .box-2 h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        font-weight: 600;
    }

    /* DISPLAY BOWLING IMAGE NONE IS DEKSTOP */
    .bow-small {
        display: none;
    }


    .content-2 {
        margin: 0;
    }


    /* DISPLAY FITNESS IMAGE NONE IS DEKSTOP */
    .fit-small {
        display: none;

    }

    /* DISPLAYING FITNESS IMAGE IN DEKSTOP */
    .fit-big {
        display: block;
    }

    /* DISPLAYING NONE CLIMBING */
    .climb-small {
        display: none;
    }

    /* climbing image display block */
    .climb-big {
        display: block;
    }



    .subscribe {
        justify-content: center;

    }

    .subscribe p {
        padding-right: 1rem;
        font-size: 2.5rem;
    }

    .subscribe button {
        width: 14rem;
    }

    .subscribe button h3 {
        font-size: 1.3rem;
    }

    /* ABOUT PAGE */
    .box-1 h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    /* WRAP 1 PATAGRAPH INCREASE THE FONT SIZE */
    .box-1 p {
        font-size: 1.3rem;
        width: 90%;
    }

    /* APPLYING GRID FOR FIRST WRAP */
    .box-1 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: 1fr;
        padding: 6rem;
    }

    /* MAIN HUGE */
    .main-1 h1 {

        width: 100%;
    }

    .main-1 {
        grid-column: 1 / span 14;
        grid-row: 1;
    }

    .construction {
        grid-column: 14 / span 24;
        grid-row: 1;
    }

    .construction img {
        height: 26rem;

    }

    .box-4 {
        background-image: url('../images/coffee-1920_x_250.jpg');
        height: 200px;
        width: 100%;
        background-size: cover;
    }

    .box-4 h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        font-weight: 600;
    }

    .bar-big {
        display: block;

    }

    .bar-small {
        display: none;
    }

    .content-1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1.5rem;

    }

    .bar-big {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .left-content {
        grid-column: 4 / span 6;
        grid-row: 1;
    }

    .content-2 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1.5rem;
    }

    .bow-big {
        display: block;
        grid-column: 4/ span 5;
        grid-row: 1;
    }

    .bow-big img {
        width: 100%;
        padding: 1rem;
    }

    .right-content {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .content-3 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1.5rem;

    }

    .fit-big img {
        width: 100%;
    }

    .fit-big {
        display: block;
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .right-content-1 {
        grid-column: 4 / span 6;
        grid-row: 1;
    }

    /* APPLYING GRID OD 6 COLUMNS */
    .content-4 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1.5rem;
    }

    /* TEXT ON THE LEFT SIZE */
    .left-content-1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    /* CLIMBING IMAGE */
    .climb-big img {
        width: 100%;
    }

    .climb-big {
        display: block;
        grid-column: 4/ span 5;
        grid-row: 1;
    }

    /* BOX OF 3 PARAGRAPHS  */
    .box-3 {
        display: inline-flex;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .name-1,
    .name-2,
    .name-3 {
        padding: 1rem;
        width: 40%;
    }



    /* WRAP OF sponsor icons */
    .icons-2 {
        justify-content: center;
        padding: 4rem;
    }

    .icons-2 h2 {
        width: 50%;
        margin: 0 auto;
    }

    /* ICONS OF SPONSORS */
    .icon-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    /* CONTACT PAGE */



    /* MAIN WRAP */
    .big-wrap-2 {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr;
    }

    /* LEFT CONTENT OF THE GRID */
    .left {

        grid-column: 1 / span 5;
        grid-row: 1;
    }

    /* CONTACT FORM PLACED IN THE RIGHT SECTION OF THE GRID */
    .contact {
        grid-column: 7/ span 9;
        grid-row: 1;
        margin: 0;
        margin-bottom: 6rem;

    }

    /* map and contact info grid */
    .buttom-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*WRAP THAT CONTAINS EVERYTHING ON THE PAGE  */
    .big-wrap {
        padding: 6rem;
    }

    /* IMAGE OF 3 GIRLS  */
    .contact-icon img {
        padding-top: 2rem;
    }

    /* TEXTAREA IN CONTACT FORM */
    input[type="text"],
    select,
    textarea {
        margin: 0;
        padding: 8px;
        font-size: 0.9rem;
    }

    /* SUBMIT BUTTON IN CONTACT FORM */
    .submitt input[type="submit"] {
        width: 13rem;
        height: 4rem;
        font-size: 2.3rem;
        margin-top: 1rem;

    }

}